<configuration>

  <appSettings>
    <add key="WSGI_HANDLER" value="school_project.wsgi.application"/>
    <add key="DJANGO_SETTINGS_MODULE" value="school_project.settings"/>
    <add key="PYTHONPATH" value="D:\LiveCode\PadhaiWithAIWithclaude03022026\school_project"/>
    <add key="WSGI_LOG" value="D:\LiveCode\PadhaiWithAIWithclaude03022026\django_iis.log"/>
  </appSettings>

  <system.webServer>

    <handlers>
      <add name="DjangoHandler"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="D:\LiveCode\PadhaiWithAIWithclaude03022026\venv\Scripts\python.exe|D:\LiveCode\PadhaiWithAIWithclaude03022026\venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script"/>
    </handlers>

    <fastCgi>
      <application fullPath="D:\LiveCode\PadhaiWithAIWithclaude03022026\venv\Scripts\python.exe"
                   arguments="D:\LiveCode\PadhaiWithAIWithclaude03022022026\venv\Lib\site-packages\wfastcgi.py"
                   maxInstances="4"
                   idleTimeout="300"
                   activityTimeout="30"
                   requestTimeout="90"/>
    </fastCgi>

  </system.webServer>

</configuration>