{% load static %}
{# ========================================================= #}
{# CENTRALIZED JAVASCRIPT INCLUDES                           #}
{# All JS library links are managed here for easy updates    #}
{# ========================================================= #}

{# jQuery (required for DataTables and other plugins) #}
<script src="{% static 'school_app/js/jquery-3.6.0.min.js' %}"></script>

{# DataTables JS #}
<script src="{% static 'school_app/js/jquery.dataTables.min1.js' %}"></script>

{# Bootstrap JS #}
<script src="{% static 'school_app/js/bootstrap.bundle.min.js' %}"></script>

{# MathJax for LaTeX rendering #}
<script src="{% static 'school_app/js/tex-mml-chtml.js' %}" async></script>

{# Chart.js for charts and graphs #}
<script src="{% static 'school_app/js/chart.js' %}"></script>

{# Chart.js DataLabels Plugin #}
<script src="{% static 'school_app/js/chartjs-plugin-datalabels.js' %}"></script>

{# Slick Carousel JS #}
<script src="{% static 'school_app/js/slick.min.js' %}"></script>

{# Custom Math Tools JS #}
<script src="{% static 'school_app/js/math_tools.js' %}" defer></script>
