<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="school_project.wsgi.application" />
    <add key="PYTHONPATH" value="D:\LiveCode\PadhaiWithAIWithclaude03022026\school_project;D:\LiveCode\PadhaiWithAIWithclaude03022026\venv\Lib\site-packages" />
    <add key="DJANGO_SETTINGS_MODULE" value="school_project.settings" />
    <add key="WSGI_LOG" value="D:\LiveCode\PadhaiWithAIWithclaude03022026\wfastcgi.log" />
  </appSettings>

  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\Users\rajto\AppData\Local\Programs\Python\Python313\python.exe|D:\LiveCode\PadhaiWithAIWithclaude03022026\venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>